<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Danh sách giảng viên</title>
    <link rel="stylesheet" th:href="@{/admin/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/vendors/jvectormap/jquery-jvectormap.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/vendors/owl-carousel-2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/vendors/owl-carousel-2/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/css/style.css}">
    <link rel="shortcut icon" th:href="@{/admin/assets/images/favicon.png}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <style>
        * {
            font-family: Roboto;
        }
        .table td{
            font-size: 16px;
            color: white;
            text-align: center;
        }
        .table thead th{
            font-size: 18px;
            color: sandybrown;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container-scroller">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="../index.html"><img th:src="@{/admin/assets/images/logo4.png}"
                                                                          style="height: 58px" alt="logo"/></a>
            <a class="sidebar-brand brand-logo-mini" href="../index.html"><img
                    th:src="@{/admin/assets/images/logo4.png}"
                    alt="logo"/></a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle "
                                 src="https://andy.codegym.vn/storage/images/avatars/eaf3a049a40db2776e366e2d3a464464.jpg"
                                 alt="">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name">
                            <div class="profile-name">
                                <h2 class="mb-0 text-white text-xxl-center font-weight-semi-bold m-2"
                                    th:if="${#request.userPrincipal != null}"
                                    th:text="${#request.userPrincipal.getName()}"></h2>
                            </div>
                        </div>
                        <a href="#" id="profile-dropdown" data-bs-toggle="dropdown"><i
                                class="mdi mdi-dots-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                             aria-labelledby="profile-dropdown">
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-primary"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Thông tin tài khoản</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-onepassword  text-info"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Đặt lại mật khẩu</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-calendar-today text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Lịch lên lớp</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="../index.html">
              <span class="menu-icon">
                <i class="mdi mdi-book-open"></i>
              </span>
                    <span class="menu-title">Khóa học</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" onclick="location.href = '/admin/lecturer' ">
              <span class="menu-icon">
                <i class="mdi mdi-account-multiple"></i>
              </span>
                    <span class="menu-title">Giảng viên</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="pages/forms/basic_elements.html">
              <span class="menu-icon">
                <i class="mdi mdi-postage-stamp"></i>
              </span>
                    <span class="menu-title">Blog</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="pages/tables/basic-table.html">
              <span class="menu-icon">
                <i class="mdi mdi-account-circle"></i>
              </span>
                    <span class="menu-title">Tài khoản</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" onclick="location.href = '/admin/student'">
              <span class="menu-icon">
                <i class="mdi mdi-account-badge"></i>
              </span>
                    <span class="menu-title">Học viên</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" onclick="location.href = '/admin/employee' ">
              <span class="menu-icon">
                <i class="mdi mdi-account-multiple"></i>
              </span>
                    <span class="menu-title">Nhân viên</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" onclick="location.href = '/admin/curriculum' ">
              <span class="menu-icon">
                <i class="mdi mdi-account-multiple"></i>
              </span>
                    <span class="menu-title">Chương trình giảng dạy</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" onclick="location.href = '/admin/enrollment' ">
              <span class="menu-icon">
                <i class="mdi mdi-account-multiple"></i>
              </span>
                    <span class="menu-title">Đăng ký khóa học</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" href="../index.html"><img src="assets/images/logo-mini.svg"
                                                                                  alt="logo"/></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav w-100">
                    <li class="nav-item w-100">
                        <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                            <input name="name" type="text" class="form-control" placeholder="Tìm kiếm giảng viên"
                                   style="color: white">
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown d-none d-lg-block">
                        <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown"
                           data-bs-toggle="dropdown" aria-expanded="false"
                           onclick="location.href = '/admin/lecturer/create'">+ Thêm mới giảng viên</a>
                    </li>
                    <li class="nav-item nav-settings d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-view-grid"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown border-left">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-email"></i>
                            <span class="count bg-success"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                             aria-labelledby="messageDropdown">
                            <h6 class="p-3 mb-0">Messages</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="https://phunugioi.com/wp-content/uploads/2020/03/anh-hot-girl-trung-quoc-cuc-tinh-y-451x600.jpg"
                                         alt="image"
                                         class="rounded-circle profile-pic">
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1" th:text="${msg}"></p>
                                    <p class="text-muted mb-0" id="currentTime"></p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="p-3 mb-0 text-center">4 new messages</p>
                        </div>
                    </li>
                    <li class="nav-item dropdown border-left">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                           data-bs-toggle="dropdown">
                            <i class="mdi mdi-bell"></i>
                            <span class="count bg-danger"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                             aria-labelledby="notificationDropdown">
                            <h6 class="p-3 mb-0">Notifications</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-calendar text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Event today</p>
                                    <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event
                                        today </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Settings</p>
                                    <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-link-variant text-warning"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Launch Admin</p>
                                    <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="p-3 mb-0 text-center">See all notifications</p>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                            <div class="navbar-profile">
                                <img class="img-xs rounded-circle"
                                     src="https://andy.codegym.vn/storage/images/avatars/eaf3a049a40db2776e366e2d3a464464.jpg"
                                     alt="">
                                <p class="mb-0 d-none d-sm-block navbar-profile-name">Khải Nguyễn</p>
                                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                             aria-labelledby="profileDropdown">
                            <h6 class="p-3 mb-0">Profile</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Thông tin tài khoản</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Đăng xuất</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="p-3 mb-0 text-center">Cài đặt</p>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-sm-4 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h5>Số lượng giảng viên</h5>
                                <div class="row">
                                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h2 class="mb-0" th:text="${total.size()}"></h2>
                                            <p class="text-success ms-2 mb-0 font-weight-medium"></p>
                                        </div>
                                        <h6 class="text-muted font-weight-normal">Được cập nhập vào năm 2023</h6>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                        <i class="icon-lg mdi mdi-codepen text-primary ms-auto"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h5>Số lượng khóa học đang đứng lớp</h5>
                                <div class="row">
                                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h2 class="mb-0">100</h2>
                                            <p class="text-success ms-2 mb-0 font-weight-medium"></p>
                                        </div>
                                        <h6 class="text-muted font-weight-normal">Được cập nhập vào năm 2023</h6>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                        <i class="icon-lg mdi mdi-wallet-travel text-danger ms-auto"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Giảng viên</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên giảng viên</th>
                                            <th>Email</th>
                                            <th>Số điện thoại</th>
                                            <th>Vị trí</th>
                                            <th>Ảnh</th>
                                            <th>Tác vụ</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="lecturer1 : ${lecturer}">
                                            <td th:text="${lecturer1.lecturerID}"></td>
                                            <td th:text="${lecturer1.lecturerName}"></td>
                                            <td th:text="${lecturer1.lecturerEmail}"></td>
                                            <td th:text="${lecturer1.lecturerPhone}"></td>
                                            <td th:text="${lecturer1.lecturerPosition}"></td>
                                            <td>
                                                <img th:src="${lecturer1.lecturerImg}" alt="image"/>
                                            </td>
                                            <td>
                                                <a th:href="@{/admin/lecturer/edit/{lecturerID}(lecturerID=${lecturer1.getLecturerID()})}"
                                                   class="btn btn-danger"><i class="fa fa-pencil-square"
                                                                             style="margin: 0 auto"></i></a>
                                                <button type="button" class="btn btn-warning" data-toggle="modal"
                                                        data-target="#modelId"
                                                        th:attr="onclick=|upload('${lecturer1.lecturerID}', '${lecturer1.lecturerName}')|">
                                                    <i class=" fa fa-trash-o" style="margin: 0 auto"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center container" style="margin-top: 20px">
                                        <a class="page-item btn btn-dark page-item" th:if="${lecturer.hasPrevious()}"
                                           th:href="@{/admin/lecturer(page = ${lecturer.number - 1})}">
                                            <i class="ti-angle-left">Trước</i>
                                        </a>

                                        <a class="page-item number btn btn-dark page-item"
                                           th:classappend="${pageNumber == lecturer.number + 1} ? 'active' : ''"
                                           th:each="pageNumber : ${pageNumberList}"
                                           th:href="@{/admin/lecturer(page = ${pageNumber - 1})}"
                                           th:text="${pageNumber}">
                                        </a>

                                        <a class="page-item btn btn-dark page-item" th:if="${lecturer.hasNext()}"
                                           th:href="@{/admin/lecturer(page = ${lecturer.number + 1})}">
                                            <i class="ti-angle-right">Sau</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"> Xác nhận xoá </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/admin/lecturer/delete" method="get">
                            <div class="modal-body">
                                <input type="hidden" name="lecturerID" id="id">
                                <span>Bạn có chắc muốn xóa </span> <span id="name" class="text-reddit text-warning"></span>?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © oneteam 2023</span>
                </div>
            </footer>
        </div>
    </div>
</div>
<script th:src="@{/admin/assets/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/admin/assets/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/admin/assets/vendors/progressbar.js/progressbar.min.js}"></script>
<script th:src="@{/admin/assets/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
<script th:src="@{/admin/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/admin/assets/vendors/owl-carousel-2/owl.carousel.min.js}"></script>
<script th:src="@{/admin/assets/js/jquery.cookie.js}" type="text/javascript"></script>
<script th:src="@{/admin/assets/js/off-canvas.js}"></script>
<script th:src="@{/admin/assets/js/hoverable-collapse.js}"></script>
<script th:src="@{/admin/assets/js/misc.js}"></script>
<script th:src="@{/admin/assets/js/settings.js}"></script>
<script th:src="@{/admin/assets/js/todolist.js}"></script>
<script th:src="@{/admin/assets/js/dashboard.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script>
    function upload(id, name) {
        document.getElementById("name").innerHTML = name;
        document.getElementById("id").value = id;
    }
</script>
<script>
    var currentTime = new Date();
    var formattedTime = currentTime.toLocaleString('vi-VN', {hour12: false});
    document.getElementById('currentTime').innerHTML = formattedTime;
</script>
</body>
</html>